extends layout.pug

block content
  h1= err.status
  p= err.message
//- doctype html
//- html
//-   head
//-     title Page Not Found
//-     link(
//-       href="../public/stylesheets/style.css" 
//-       rel="stylesheet"
//-       )
//- body

  